<div class="navbar" color="primary">
  <div class="navbar-left">
    <div id="navbar-title"><span>Which movie to watch</span></div>
  </div>

  <div class="navbar-centre-left">
    <mat-button-toggle-group [(value)]="activeMarking" (change)="activeMarkingChanged($event)">
      <mat-button-toggle value="all">Mark all</mat-button-toggle>
      <mat-button-toggle value="seen">Mark watched</mat-button-toggle>
      <mat-button-toggle value="unseen">Mark not watched</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div class="navbar-centre-right">
    <button mat-raised-button color="accent" (click)="saveHistory()">Save</button>
    <button id="signout_button" mat-raised-button color="warn" (click)="gapiService.signOut()">Sign Out</button>
  </div>

  <div class="navbar-right">
    <div class="profile-container" *ngIf="userProfile">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar [style]="' background-size: cover; background-image: url(' + userProfile.PK+ ')'"></div>
          <mat-card-title>{{userProfile.Cd}}</mat-card-title>
          <mat-card-subtitle>{{userProfile.yu}}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
  </div>
</div>

<div class="main-cards">

  <div class="movie-reel-container" *ngIf="currentMovie">
    <div class="nav-button-container nav-button-container-left negative-action">
      <div class="negative-action">{{negativeActionName}}</div>
      <button mat-fab color="primary" class="nav-button" (click)="watched(false)"><span class="material-icons">
          fast_rewind
        </span></button>
    </div>
    <div class="movie-reel" color="primary">
      <mat-card *ngIf="currentMovie" color="primary">
        <mat-card-header class="movie-reel-header">
          <div mat-card-avatar></div>
          <mat-card-title>{{currentMovie.title}}</mat-card-title>
          <mat-card-subtitle>{{currentMovie.tagline}}</mat-card-subtitle>
        </mat-card-header>
        <div>
          <iframe name="gsearch" class="movie-iframe" [src]="currentMovieSearchLink"></iframe>
        </div>
        <mat-card-content class="movie-reel-content">
          {{currentMovie.overview}}
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button class="negative-action" color="primary" (click)="watched(false)">{{negativeActionName}}</button>
          <button mat-raised-button class="positive-action" color="accent" (click)="watched(true)">{{positiveActionName}}</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="nav-button-container nav-button-container-right">
      <div class="positive-action">{{positiveActionName}}</div>
      <button mat-fab class="nav-button" (click)="watched(true)"><span class="material-icons">
          fast_forward
        </span></button>
    </div>
  </div>

  <div class="history-container">
    <div class="history">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            {{positiveActionName}} / {{negativeActionName}}
          </mat-card-title>
        </mat-card-header>
        <mat-list role="list">
          <mat-list-item role="listitem" *ngFor="let entry of entries" class="history-list-item-container" [ngClass]="entry.attributes.includes('seen') ? 'green' : 'red'">
            <div mat-line class="history-list-item">
              {{entry.movie.title}}
            </div>
            <div mat-line>
              <mat-chip-list>
                <mat-chip *ngFor="let att of entry.attributes">{{att}}</mat-chip>
              </mat-chip-list>
            </div>
            <button mat-mini-fab color="primary" (click)="removeWatched(entry)">X</button>
          </mat-list-item>
        </mat-list>
      </mat-card>
    </div>
  </div>

</div>
