
.movie-iframe
    width: 100%
    height: 400px

.movie-reel-container
  width: 100%
  display: flex
  justify-content: center

.movie-reel
    width: 50%
    // background: #673ab7

.movie-reel-header
  height: 70px

.movie-reel-content
  height: 150px
  overflow: auto

.history-container
  width: 30%

.main-cards
    margin: 50px
    display: flex
    flex-direction: row
