<mat-toolbar color="primary">
   <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Which movie to watch</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
   <mat-icon>share</mat-icon>
 </button>
</mat-toolbar>


<!--
<section>
  <div class="example-label">Raised</div>
  <div class="example-button-row">
    <button mat-raised-button>Basic</button>
    <button mat-raised-button color="primary">Primary</button>
    <button mat-raised-button color="accent">Accent</button>
    <button mat-raised-button color="warn">Warn</button>
    <button mat-raised-button disabled>Disabled</button>
    <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section> -->

<div class="main-cards">

  <div class="movie-reel-container">
    <div class="movie-reel" color="primary">
      <mat-card *ngIf="currentMovie" color="primary">
          <mat-card-header class="movie-reel-header">
            <div mat-card-avatar></div>
            <mat-card-title>{{currentMovie.title}}</mat-card-title>
            <mat-card-subtitle>{{currentMovie.tagline}}</mat-card-subtitle>
          </mat-card-header>
          <div>
            <iframe name="gsearch" class="movie-iframe" [src]="getMovieName()"></iframe>
          </div>
          <mat-card-content class="movie-reel-content">
            {{currentMovie.overview}}
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary" (click)="watched(true)">Watched</button>
            <button mat-raised-button color="accent" (click)="watched(false)">NOT Watched</button>
          </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <div class="history-container">
    <div class="history">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            History
          </mat-card-title>
        </mat-card-header>
        <mat-list role="list">
          <mat-list-item role="listitem" *ngFor="let entry of obj.entries(this.watchDb)">
            {{entry[1][0].title}}
          </mat-list-item>
        </mat-list>
      </mat-card>
    </div>
  </div>

</div>
